@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.announcements h1 {
    color: #1929b3;
    font-family: "Quicksand";
    text-align: center;
    font-weight: 500;
}

.announcement-listing h2 {
    color: #1929b3;
    font-family: "Quicksand";
    text-align: center;  
    font-weight: 500;
    margin:5px;
    font-size:20px;
}

.announcement-listing h3 {
    color: #000000;
    font-family: "Quicksand";
    text-align: center;  
    font-weight: 300;
    line-height: normal;
    margin:5px;
    font-size: 15px;
}

.announcement-listing{
    margin: 3px;
    background-color:#5796f3;
    border:2px solid black;
    padding-left: 200px;
    padding-right: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.room1{
    padding: 20px;
    align-items: left;
    max-width: 1500px;
    margin: 0 auto;
    text-decoration: none;
}

.room-info{
    align-items: center;
}



